<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Add Product</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="addProductForm" (ngSubmit)="onFormSubmit()">
      <ion-item>
        <ion-label position="floating" color="primary">Product Name</ion-label>
        <ion-input type="text" formControlName="product_name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Product Price</ion-label>
        <ion-input type="number" formControlName="product_price" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Product Description</ion-label>
        <ion-textarea formControlName="product_desc"></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" shape="round" color="primary" expand="block">Add Product</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>