<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'signup.signup' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
-->

<app-header [isShowMenu]='true' [isShowBack]='false' [isShowLocale]='true' [title]='title'></app-header>

<ion-content>
  <form [formGroup]= "signupForm" (ngSubmit)="onSignup(signupForm)">
    <div class="signup-logo">
      <img src="assets/img/appicon.svg" alt="Ionic Logo">
    </div>
    
    <ion-list lines="none">
      <ion-item>
        <ion-input formControlName="username" type="text" placeholder="{{ 'signup.name' | translate }}"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationMessages.username">
          <div class="error-message" *ngIf="signupForm.get('username').hasError(validation.type) && (signupForm.get('username').dirty || signupForm.get('username').touched)">
            <ion-text color="danger">
              <p class="ion-padding-start">{{ 'validations.'+validation.message | translate:params }}</p>
            </ion-text>
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="{{ 'signup.email' | translate }}">
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationMessages.email">
          <div class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
            <ion-text color="danger">
              <p class="ion-padding-start">{{ 'validations.'+validation.message | translate:params }}</p>
            </ion-text>
          </div>
        </ng-container>
      </div>

      <ion-item>
          <ion-select formControlName="country" placeholder="{{ 'signup.countryCode' | translate }}" interface="popover">
              <ion-select-option *ngFor="let country of countries" [value]="country">{{country.key}} {{country.isoCode}}</ion-select-option>
          </ion-select>
        <ion-input formControlName="mobile" type="text" placeholder="{{ 'signup.mobile' | translate }}"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationMessages.country">
          <div class="error-message" *ngIf="signupForm.get('country').hasError(validation.type) && (signupForm.get('country').dirty || signupForm.get('country').touched)">
            <ion-text color="danger">
              <p class="ion-padding-start">{{ 'validations.'+validation.message | translate:params }}</p>
            </ion-text>
          </div>
        </ng-container>
      </div>
      <div>
        <ng-container *ngFor="let validation of validationMessages.mobile">
          <div class="error-message" *ngIf="signupForm.get('mobile').hasError(validation.type) && (signupForm.get('mobile').dirty || signupForm.get('mobile').touched)">
            <ion-text color="danger">
              <p class="ion-padding-start">{{ 'validations.'+validation.message | translate:params }}</p>
            </ion-text>
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="{{ 'signup.password' | translate }}">
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="signupForm.get('password').hasError(validation.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
            <ion-text color="danger">
              <p class="ion-padding-start">{{ 'validations.'+validation.message | translate:params }}</p>
            </ion-text>
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-input formControlName="confirmPassword" type="password" placeholder="{{ 'signup.confirmPassword' | translate }}">
        </ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validationMessages.confirmPassword">
          <div class="error-message" *ngIf="signupForm.get('confirmPassword').hasError(validation.type) && (signupForm.get('confirmPassword').dirty || signupForm.get('confirmPassword').touched)">
            <ion-text color="danger">
              <p class="ion-padding-start">{{ 'validations.'+validation.message | translate }}</p>
            </ion-text>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <div class="ion-padding">
      <ion-button type="submit" color="primary" expand="block">{{ 'signup.signup' | translate }}</ion-button>
    </div>
  </form>

</ion-content>