
<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'account.account' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
-->
<app-header [isShowMenu]='true' [isShowBack]='false' [isShowLocale]='true' [title]='title'></app-header>

<ion-content>
  <div *ngIf="username" class="ion-padding-top ion-text-center">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{username}}</h2>

    <ion-list inset>
      <ion-item (click)="updatePicture()">{{ 'account.updatePicture' | translate }}</ion-item>
      <ion-item (click)="changeUsername()">{{ 'account.changeUsername' | translate }}</ion-item>
      <ion-item (click)="changePassword()">{{ 'account.changePassword' | translate }}</ion-item>
      <ion-item (click)="support()">{{ 'account.support' | translate }}</ion-item>
      <ion-item (click)="logout()">{{ 'account.logout' | translate }}</ion-item>
    </ion-list>
  </div>
</ion-content>
